

body {
	font-size: 1em;
	max-width: 2000px;
	background-image: url("../images/light-grey-terrazzo.png");
	
}

h1 {
	font-size: 2em;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	line-height: 76px;
	font-weight: 500;
}

h2 {
	font-size: 1.5em;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-weight: bold;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;


}

main {
	
	display: block;
	width: 960px;
	margin: 0 auto 80px auto;
	background-color: #ffffff;
	position: relative;
	border: .5px solid #cccccc;
}

main img {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

main p {
	padding: 0px 0px 20px 0px;
	margin: 20px 30px 20px 20px;
	line-height: 35px;
	color: #777777;
	

}

main h2 {
	
	padding: 12px 0px 24px 0px;
	margin: 40px 0px 0px 20px;
	color: #4aaaa5;

}

p.relative {
	border-top: 2px solid #cccccc;
	
}


footer {
	background-color: #666666;
	padding: 20px 0px 20px 0px;	
	width: 100%;
	border-top: 6px solid #4aaaa5;
	position: fixed;
	bottom: 0;
	left: 0;	
}

footer p {
	color: white;
	font-size: .5em;
	text-align: center;

}
#wrap {
	margin: 0 auto;
}


header {
	
	width: 100%;
	display: block;
	background-color: #ffffff;
	position: relative;	
	top: 0;
	right: 0;
	padding: 30px;
	margin: 0px auto 30px auto;
	border-bottom: 1.5px solid #cccccc;
	
	
	
}

ul {
	position: relative;

	background-color: #ffffff;
	margin: 10px 10px 0px 940px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

ul li {

	display: inline;
	padding: 5px 20px 10px 20px;
}

ul li a {

	color: #777777;
	border-bottom: none;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: .8em;

}

.helper2 {
	position: absolute;
	top: 0;
	left: .25%;
	margin: 0px 0px 0px 250px;
	text-align: center;
	color: white;
	background-color: #4aaaa5;
	width: 200px;
	padding: 10px;

}

li.rightBorder {
	border-right: .5px solid #777777;
}

nav ul li a:hover {
	background-color: #87B8B6;
	color: white;
	padding: 10px;

}


form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	margin-left: 20px;
	margin-right: 20px;
	color: #777777;
}
input {
	border: .5px solid #999999;
	width: 98%;
	margin: 10px 0px 10px 0px;
	padding: 5px;
}
textarea {
	border: .5px solid #999999;
	width: 98%;
	margin: 10px 0px 25px 0px;
	padding: 5px;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;

}

.submit {
	color: white;
	background-color: #4aaaa5;
	padding: 3px 7px 3px 7px;
	width: 10%;
	text-align: center;
	position: absolute;
	bottom: 3px;

}

.picture {
	margin: 20px;
}
.long {
	height: 800px;


}
.banner {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	padding: 10px;
	position: absolute;
	top: 295px;
	text-align: center;
	width: 280px;

}
.banner1 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	padding: 10px;
	position: absolute;
	top: 535px;
	text-align: center;
	width: 280px;

}
.banner2 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	padding: 10px;
	position: absolute;
	top: 775px;
	text-align: center;
	width: 280px;

}
.banner3 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	padding: 10px;
	position: absolute;
	top: 295px;
	right: 270px;
	text-align: center;
	width: 280px;

}
.banner4 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	padding: 10px;
	position: absolute;
	top: 535px;
	text-align: center;
	width: 280px;
	right: 270px;

}
.theForm:focus {
	background: #ffefd5;
	
}

li#about {
	font-weight: bolder;
}
li#portfolio1 {
	font-weight: bolder;

}
li#contact1 {
	font-weight: bolder;
}

